:root {
  /*color*/
  --text-primary: #fff;
  --text-light: #ABBBC2;
  --bg-primary: #252836;
  --bg-secondary: #1f1d2b;
  --base-form-bg: #2D303E;
  --base-dark-line: #393C49;
  /*width*/
  --layout-default-max-width: 1440px;

  /*padding*/
  --padding-xs: 14px;
  --padding-sm: 20px;
  --padding-md: 55px;
  --padding-xl: 78px;

  /*border-radius*/
  --border-primary: 8px;

  /*font-size*/
  --font-size-sm: 14px;
  --font-size-lg: 20px;

  /*font-weight*/
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  /*line-height*/
  --line-height-lg: 140%;
}

body {
  background-color: var(--bg-primary);
  padding: var( --padding-sm) 0;
}

.container {
  max-width: var(--layout-default-max-width);
  margin: 0 auto;
  background-color: var(--bg-secondary);
  border-radius: var(--border-primary);
}

body {
  font-family: Barlow, sans-serif;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
