:root {
  /*color*/
  --primary-color: #ea7c69;
  --alternative-color: #634c51;
  --text-primary: #fff;
  --text-light: #abbbc2;
  --warning-color: #f00;
  --bg-primary: #252836;
  --bg-secondary: #1f1d2b;
  --base-form-bg: #2d303e;
  --base-dark-line: #393c49;
  --toast-bg: #4b965b;
  --modal-overlay: rgba(0, 0, 0, 0.3);
  --box-shadow-primary: rgba(234, 124, 105, 0.4);
  /*width*/
  --layout-default-max-width: 1440px;

  /*padding*/
  --padding-xs: 14px;
  --padding-sm: 20px;
  --padding-nm: 27px;
  --padding-md: 55px;
  --padding-lg: 65px;
  --padding-xl: 78px;

  /*border-radius*/
  --border-primary: 8px;
  --border-secondary: 16px;

  /*font-size*/
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 28px;

  /*font-weight*/
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  /*line-height*/
  --line-height-md: 130%;
  --line-height-lg: 140%;
}

body {
  background-color: var(--bg-primary);
  padding: var(--padding-sm);
}

body {
  font-family: Barlow, sans-serif;
}

a,
button {
  cursor: pointer;
}

.container {
  max-width: var(--layout-default-max-width);
  margin: 0 auto;
  background-color: var(--bg-secondary);
  border-radius: var(--border-primary);
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}
